<ol class="breadcrumbs">
  <ng-container *ngFor="let breadcrumb of breadcrumbsService?.breadcrumbs$ | async; let last = last">
    <ng-container *ngIf="additionalLabels[breadcrumb?.url] as additionalLabel">
      <li
        [routerLink]="additionalLabel.url"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="breadcrumbs-item_active"
        class="breadcrumbs-item"
      >
        {{ additionalLabel?.label }}
      </li>

      <mat-icon>{{ divideIcon }}</mat-icon>
    </ng-container>

    <li
      [routerLink]="breadcrumb.url"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="breadcrumbs-item_active"
      class="breadcrumbs-item"
    >
      {{ breadcrumb.label }}
    </li>

    <mat-icon *ngIf="!last">{{ divideIcon }}</mat-icon>
  </ng-container>
</ol>
